@import url("https://necolas.github.io/normalize.css/latest/normalize.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 1rem; */
}
:root{
    --bg-dark-blue:rgba(38, 51, 93, 1);
    --text-color:#fff;
    --primary-color: rgba(255, 101, 81, 1);
    --color-hs-sections: #252B42;
    --color-p-cards:#737373;
    --color-back-icon-claro: #F9FDFF;
    --color-back-icon-azul-claro:#DDEEFE;
    --color-back-icon-white:#fff;
    --color-back-icon-azul-escuro: #B6D7FF;

}
ul, li, a,h1,p,h2,h3,h4,h5,p{
    text-decoration: none;
    list-style: none;
    padding: none;
    margin: 0;
}
body{
    font-family: 'Montserrat', 'sans-serif';
    transition: all 0.5s ease-in-out;
}

/* Configuração do texto padrão dos títulos */

.section-text-default{
    flex: 1;
    padding-right: 40px;
}

.section-text-default h2,p{
    margin-top: 15px;
}
.section-text-default span{
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-color);
}
.section-text-default h2{
    font-size: 40px;
    font-weight: bold;
    color:var(--color-hs-sections);
}
/* Configuração do texto padrão dos títulos */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 71px;
    background-color: var(--bg-dark-blue);
    color: var(--text-color);
    padding: 19px 220px 0 195px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    flex: 1;
}
.logo a{
    color: var(--text-color);
    display: block; 
    padding: 3px;
}
.box-btn{
    display: none;
}
#btn-mobile{
    position: relative;
    width: 30px;
    max-height: 30px;
    display: block;
    transition: all 0.3s ease-in-out;
    border-top: solid 4px rgb(255, 255, 255);
    cursor: pointer;
}
#btn-mobile::before,#btn-mobile::after{
    content: '';
    width: 30px;
    height: 4px;
    display: block;
    background-color:currentColor;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.box-btn.active #btn-mobile{
    border-top: 0;
}
.box-btn.active #btn-mobile::before{
    transform: rotate(45deg);
}
.box-btn.active #btn-mobile::after{
    top: -9px;
    transform: rotate(-45deg);
}
.menu.active{
    display: block;
    position: absolute;
    top: 71px;
    width:100vw;
    height: 100vh;
    background-color: #26335D;
}
.menu.active ul{
    position: relative;
    display: block;
    margin: 50px auto;
    text-align: center;
}
.menu.active ul li{
    font-size: 20px;
    margin-bottom: 20px;
}
.menu.active .btn-header{
    margin: 30px auto;
    justify-content: center;
}

.menu{
    /* min-width: 738px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 2;
    animation: menu-animated 0.2s ease-in 0.2s forwards;
}
.menu ul{
    animation: drop-options 0.3s ease-in-out 0.5s forwards;
}
.menu .btn-header .btn-join-us{
    display: flex;
    align-items: center;
    background: var(--primary-color);
    padding: 15px;
    border-radius: 5px;
    border: 0;
    gap: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.menu .btn-header .btn-join-us i{
    font-size: 20px;
}
.menu ul{
    display: flex;
    max-width: 289px;
    width: 100%;
    gap: 14px;
}
.menu ul li a{
    display: block;
    color: var(--text-color);
}
.btn-header a{
    display: block;
    color: var(--text-color);
}
.btn-header{
    display: flex;
    max-width: 223px;
    width: 100%;
    align-items: center;
    gap: 45px;
}
.welcome{
    background: var(--bg-dark-blue);
    background-size: cover;
    min-height: 707px;
    /* padding: 10px; */
}

.center-content-welcome{
    max-width: 1280px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
    flex-wrap: wrap;
}
.text-welcome{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 30px;
    font-style: normal;
    flex: 1.2;
    padding-left: 20px;
    padding-right: 60px;
}
.text-welcome span{
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color);
}
.text-welcome h1{
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.text-welcome p{
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
}
.btn-welcome{
    display: flex;
    max-width: 367px;
    gap: 5px;
}
.text-welcome .btn-welcome button{
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    
}
.text-welcome .btn-welcome button:nth-child(1){
    background: var(--primary-color);
    color: var(--text-color);
    max-width: 195px;
}
.text-welcome .btn-welcome button:nth-child(2){
    background: none;
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
    max-width: 165px;
}
.img-welcome{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-welcome img{
    min-width: 80%;
}
/* Container que centralizar o conteúdo do site  */
.center-main{
    max-width: 1040px;
    margin: 112px auto;
    transition: all 0.2s ease-in-out;
}
/* </> */
.most-popular{
    min-height: 768px;
}
.container-most-popular{
    min-height: 768px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex:1;

}
.cards div{
    flex:1;
    max-width: 230px;
    min-width: 230px;
}
.cards .box-card-text{
    flex:1;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 40px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    transition: all 0.2s ease-in-out;
}
.cards .box-card-text:hover{
    transform: scale(1.05);
}
.cards .box-card-text-orange{
    background: var(--primary-color);
}
.cards .box-card-text img{
    display: block;
    padding: 24px 19px;
    border-radius: 10px;
    max-width: 71px;
    max-height: 80px;
}
.cards .box-card-text h5{
    /* line-height: 20px; */
    /* border-bottom-width: 1px; */
    /* border-bottom: 1px solid var(--primary-color) */
    font-weight: 700;
    font-size: 16px;
    color: var(--color-hs-sections);
}
.cards .box-card-text p{
    font-weight: 400;
    font-size: 14px;
    color: var(--color-p-cards);
}
.cards .box-card-text-orange h5{
    font-weight: 700;
    font-size: 16px;
    color: var(--text-color);
}
.cards .box-card-text-orange p{
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color);
}
.cards .box-card-text #back-icon-claro{
    background-color: var(--color-back-icon-azul-claro);
}
.cards .box-card-text #back-icon-azul-claro{
    background-color: var(--color-back-icon-claro);
    
}
.cards .box-card-text #back-icon-white{
    background-color: var(--color-back-icon-white);
}
.cards .box-card-text #back-icon-azul-escuro{
    background-color: var(--color-back-icon-azul-escuro);
}
.cards :nth-child(2), .cards :nth-child(4){
    margin-top: 48px;
}

/* seção 3 */
.experts-teacher{
    min-height: 919px;
}
.container-cards-text-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-display-cards-experts-teacher{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 112px;
    overflow: hidden;
    gap: 20px;
}
.box-display-cards-experts-teacher .format-card-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 300px;
    max-width: 238px;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 20px 20px 24px 20px;
    transition: all 0.2s ease-in-out;
}
.box-display-cards-experts-teacher .format-card-div:hover{
    transform: scale(1.05);
}
.box-display-cards-experts-teacher .format-card-div.product1 {
    background-image: url("../imagens/product-cover-1.png");
}
.box-display-cards-experts-teacher .format-card-div.product2 {
    background-image: url("../imagens/product-cover-2.png");
}
.box-display-cards-experts-teacher .format-card-div.product3 {
    background-image: url("../imagens/product-cover-3.png");
}
.box-display-cards-experts-teacher .format-card-div.product4 {
    background-image: url("../imagens/product-cover-4.png");
}
.box-display-cards-experts-teacher{
    flex-wrap: wrap;
}
.box-display-cards-experts-teacher .sale{
    padding: 6.5px 10px;
    color: var(--text-color);
    background: #E74040;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
}
.box-card-most-baner-sale{
    display: flex;
    flex-direction: column;
    min-width: 210px;
    flex: 1; 
    max-width: 230px;

}
.format-card-div div{
    margin: 0 auto;
    background: none;
}


.box-section-text-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-card-product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 267px;
    max-width: 238px;
    width: 100%;
    padding: 25px 0 35px 25px;
}
.text-card-product .span-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 14px;
}
.text-card-product .span-flex span:nth-child(2){
    display: block;
    background: #26335D;
    padding: 5px;
    border-radius: 20px;
    color: var(--text-color);
}
.text-card-product h5{
    font-weight: 700;
    font-size: 16px;
    color: var(--color-hs-sections);
}
.text-card-product p{
    font-weight: 400;
    font-size: 14px;
    color: var(--color-p-cards);
}
.text-card-product .quan-downloads{
    display: flex;
    gap: 10px;
    align-items: flex-end;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: var(--color-p-cards);
}
.text-card-product .box-price{
    display: flex;
    font-weight: 700;
    font-size: 16px;
    gap: 3px;
}
.text-card-product .box-price h5:nth-child(1){
    color: #BDBDBD;
}
.text-card-product .box-price h5:nth-child(2){
    color: #2435A1;
}
.text-card-product button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 20px;
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
    background: none;
    padding: 10px 8px 10px 12px;
    max-width: 144px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}
.text-card-product button i{
    padding: 0;
    font-size: 30px;
}





/* seção 4 */
.center-main.margin-160{
    margin-top: 160px;
}
.most-popular-courses{
    background: var(--bg-dark-blue);
    min-height: 919px;
    display: flex;
    align-items: center;
    background-size: cover;
}
.container-flex-popular-courses{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular-courses-main{
    max-width: 544px;
    width: 100%;
    height: auto;
    flex: 1;

}
.popular-courses-main img{
    max-width: 100%;
    min-width: 50%;
}
.text-container-popular-courses{
    padding: 0 35px 0 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
    flex: 1;
    padding: 151px 35px 151px 120px;
}
.text-container-popular-courses h2{
    font-weight: 700;
    font-size: 40px;
    color: var(--text-color);
}
.text-container-popular-courses h2::before{
    content: '';
    width: 94px;
    margin-bottom: 35px;
    border-top: solid 7px var(--primary-color);
    display: block; /*sempre que for usar o before tem que dá display block */
}
.text-container-popular-courses p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color);
    letter-spacing: 0.2px;
}
.text-container-popular-courses a{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-color);
}
.text-container-popular-courses i{
    font-size: 25px;
}

/* section newsletter */
.our-expert-teacher-two{
    min-height: 1471px;
}
.container-flex-expert-two{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 109px;

}

.box-baners-large{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.box-baner{
    background: rgba(255, 255, 255, 1);
    max-width: 330px;
    min-width: 330px;
    height: 937px;
    box-shadow: 0 0 10px #f7f7f7;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    
}
/* Before new */
/* .box-baners-large::before{
    content: 'New';
    top: -29px;
    left: 610px;
    position: absolute;
    width: 89px;
    height: 90px;
    background: #E77C40;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    color: var(--text-color);
    transition: 0.2s ease-in-out;
} */
.box-baner img{
    max-width: 96px;
    width: 100%;
    height: 96px;
}
.box-baner .content-planos{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.box-baner .content-planos img{
    max-width: 32px;
    width: 100%;
    height: 32px;
}
.box-baner h6{
    font-weight: 700;
    font-size: 14px;
    color: var(--color-hs-sections);
}
.box-baner button{
    padding: 16px 40px;
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
}
.box-baner h3{
    font-weight: 700;
    font-size: 24px;
    color: var(--color-hs-sections);
}
.box-baner h6{
    font-weight: 700;
    font-size: 14px;
    color: var(--color-p-cards);
}
.box-baner .span-box-baner span{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 40px;
}
.box-baner .span-box-baner h6{
    color: #8EC2F2;
}


                                    /* APRODABLE SECTION */

.aprodable{
    min-height: 865px;
}
.aprodable-flex-container{
    display: flex;
    flex-direction: column;
    gap: 121px;
}
.testimoniais{
    flex: 2;
    display: flex;
    flex-wrap: wrap;
}


.descri{
    min-width: 320px;
    max-width: 597px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
.img-profile{
    background-size: cover;
    height: 120px;
    max-width: 128px;
    width: 100%;
    border-radius: 50%;
}
.img-profile.user1{
    background-image: url("../imagens/testimonial-user-cover-1.svg");
}
.img-profile.user2{
    background-image: url("../imagens/testimonial-user-cover-2.png");
}

.descri p{
    padding-left: 94px;
    padding-right: 94px;
    text-align: center;
    font-size: 14px;
    color: #737373;
}
.descri i{
    font-size: 18px;
}
.descri .name-profission{
    text-align: center;
}
.descri h5{
    font-weight: 700;
    font-size: 16px;
    color: var(--color-hs-sections);
}
.descri h6{
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #737373;
}
                                        /* APRODABLE SECTION */


                                    
                                    /* NEWSLETTER SECTION CONFIGURAÇÕES */

.newsletter{
    min-height: 594px;
    background-color: #26335D;
    background-size: cover;
}
.container-flex-newsletter{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
/* Formatação do texto da newsletter section */
.text-newsletter {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin-top: 160px;
    text-align: center;
    gap: 10px;
}
.text-newsletter h6{
    font-weight: 700;
    font-size: 14px;
    color: #E74040;
}
.text-newsletter h3,p{
    color: var(--text-color);
}
.text-newsletter h3{
    font-weight: 700;
    font-size: 50px;
}
.text-newsletter p{
    font-weight: 400;
    font-size: 14px;
}
/* Formatação do texto da newsletter section */

/* Div search */
.search{
    flex: 1;
    min-height:58px;
    align-items: center;
    width: 100%;
}
.search .box-label{
    display: flex;
    background: #fff;
    height: 58px;
    max-width: 688px;
    border-radius: 5px;
    margin: 0 auto;
}
.search label{
    flex: 2;
    display: block;
}
.search label input{
    width: 100%;
    border: none;
    padding: 20px;
    outline: none;
}
.search input{
    flex: 1;
    display: block;
}
.search input[type=submit]{
    background-color: #E74040;
    border: 1px solid #E6E6E6;
    border-radius: 0 5px 5px 0;
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    height: 100%;
}
/* Div search */


                                    /* NEWSLETTER SECTION CONFIGURAÇÕES */



                                    /* FOOTER */

footer{
    min-height: 346px;
}
footer a{
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
footer i{
    text-decoration: none;
    color: var(--primary-color);
}
footer h5{
    font-weight: 700;
    font-size: 16px;
    color: var(--color-hs-sections);
}
.center-footer-especial{
    margin: 50px 195px 0 195px;
}
.container-flex-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.box-links{
    display: flex;
    gap: 30px;
    flex: 2;
    min-height: 346px;
    flex-wrap: wrap;
}
.footer-links{
    flex: 1;
    min-width: 119px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-links a{
    font-size: 14px;
    font-weight: bold;
    color: #737373;
}
footer address{
    flex: 2;
}
.copy{
    min-height: 74px;
    background: #FAFAFA;
    flex: 1;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    padding: 20px 195px;
}
.copy p{
    color: #737373;
}

address{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
    font-style: normal;
}
address .flex-address-links{
    display: flex;
    gap: 5px;
}
address .flex-address-links h6{
    font-size: 14px;
    font-weight: bold;
    color: #737373;
}
address .flex-address-links i{
    font-size: 22px;
}


/* MEDIA QUERYS */
@media(min-width: 1400px){
    .center-main{
        max-width: 1050px;
    }
    .container-header{
        max-width:1347px ;
        justify-content: space-around;
    }
    .cards{
        justify-content: space-between;
    }
    .box-baners-large{
        justify-content: space-between;
    }
    .box-baners-large::before{
        left: 800px;
    }
    .text-card-product{
        padding: 8px 0 3px 0;
    }
}

@media(max-width:1075px){
    .text-card-product{
        padding: 8px 0 3px 0;
    }
    .box-display-cards-experts-teacher{
        justify-items: center;
        justify-content: center;
    }
    .welcome{
        padding-top: 60px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .center-main{
        margin: 112px 30px;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
    }
    .container-most-popular{
        gap: 100px;
        justify-items: center;
    }
    .cards{
        justify-items: center;
    }

}
@media(max-width:970px){
    .logo, .box-btn{
        display: block;
    }
    header{
        padding: 40px;
    }
    .menu{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .menu ul {
        opacity: 0;
        left: -100%;
    }

    .container-header{
        gap: 100px;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .container-flex-popular-courses{
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .most-popular-courses{
        flex-direction: column;
    }
}
@media(max-width: 594px){
    header{
        padding: 20px;
    }
    .text-welcome{
        padding: 0;
    }
    .cards{
        grid-template-columns: 1fr;
        max-width: 230px;
        margin: 0 auto;
    }
    .text-welcome h1{
        font-size: 50px;
    }
    .text-welcome p{
        font-size: 18px;
    }
    .cards .box-card-text-orange{
        margin-top: 48px;
    }
    .text-container-popular-courses{
        padding: 10px 10px 50px 0;
    }
    .testimoniais{
        gap: 40px;
    }
    .center-footer-especial{
        margin: 50px ;
    }
    .footer-links{
        /* text-align: center; */
        gap: 30px;
    }
    .copy{
        padding: 20px 0 20px 50px;
    }
}
@media(max-width: 494px) and (min-width:220px){
    .btn-welcome{
        flex-direction: column;
    }
    .text-welcome h1{
        font-size: 40px;
    }

    .text-welcome p{
        font-size: 16px;
    }
    .box-baners-large{
        max-width: 270px;
        margin: 0 auto;
    }
    .box-baner{
        min-width: 200px;
        margin: 0 auto;
        padding: 6px;
    }
    .testimoniais{
        flex-direction: column;
    }
    .descri{
        min-width: 150px;
        gap: 30px;
    }
    .descri p{
        padding: 1px;
    }
    .center-footer-especial{
        margin: 50px 20px;
    }
    .copy{
        font-size: 12px;
        padding: 3px 0 3px 3px;
    }
    .section-text-default h2{
        font-size: 31px;
    }
    .text-newsletter h3{
        font-weight: 700;
        font-size: 38px;
    }
}


@keyframes menu-animated{
    to{
        opacity: 1;
        visibility: visible;
    }
}
@keyframes drop-options {
    from{
        left: -100%;
    }
    to{
        left: 0;
        opacity: 1;
    }
}